// Prefix for :root CSS variables
$prefix: ant- !default;

// Specify the width of the gutters.
$grid-gutter-width:           1.5rem !default;

// Container padding
$container-padding-x: $grid-gutter-width !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
) !default;

// grid-breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;

$spacer: 1rem;

$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer * .75,
        4: $spacer,
        5: $spacer * 1.5,
        6: $spacer * 3,
) !default;
