<form nz-form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <nz-form-item>
        <nz-form-control nzErrorTip="Required" nzHasFeedback>
            <nz-input-group nzPrefixIcon="user">
                <input
                    type="text"
                    nz-input
                    [formControlName]="formFieldKeys.UserName"
                    placeholder="User Name" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="emailErrorTpl" nzHasFeedback>
            <nz-input-group nzPrefixIcon="mail">
                <input
                    type="text"
                    nz-input
                    [formControlName]="formFieldKeys.Email"
                    placeholder="Email" />
                <ng-template #emailErrorTpl let-control>
                    @if (control.errors?.['required']) {
                        Required
                    }
                    @if (control.errors?.['email']) {
                        Invalid email format
                    }
                </ng-template>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordTpl" nzHasFeedback>
            <nz-input-group nzPrefixIcon="lock">
                <input
                    type="password"
                    nz-input
                    autocomplete="off"
                    [formControlName]="formFieldKeys.Password"
                    placeholder="Password" />
            </nz-input-group>
            <ng-template #passwordTpl let-control>
                @if (control.errors?.['required']) {
                    Required
                }
                @if (control.errors?.['minlength']) {
                    Password should be at least 8 characters
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordMismatchTpl" nzHasFeedback>
            <nz-input-group nzPrefixIcon="lock">
                <input
                    type="password"
                    nz-input
                    autocomplete="off"
                    [formControlName]="formFieldKeys.PasswordConfirmation"
                    placeholder="Confirm Password" />
            </nz-input-group>
            <ng-template #passwordMismatchTpl let-control>
                @if (control.errors?.['required']) {
                    Required
                }
                @if (control.errors?.['passwordsMismatch']) {
                    Passwords do not match
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <button nz-button class="w-100 mb-4" [nzLoading]="loading$ | async" type="submit" nzType="primary">Register</button>
    <div nz-flex nzJustify="flex-end">
        <span>Or <a [routerLink]="signInLink | path">sign in now!</a></span>
    </div>
</form>
